<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="healthCheckerConfig" type="HealthChecker.ConsoleApp.HealthCheckerConfigSection, HealthChecker.ConsoleApp" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <healthCheckerConfig siteUri="http://www.thefreedictionary.com" stateFileName="healthCheckState.json" addresses="91.204.210.226,91.204.210.230,209.160.58.87,67.138.108.201,209.40.98.46,209.40.98.47,209.40.98.58,85.195.124.227,204.187.101.90">
    <emailReporting subject="Health Check Report" bodyTemplate="Dear Administrator,&#13;&#10;&#13;&#10;There was a trouble checking one or several endpoints of the website {0}, following addresses has been failed:&#13;&#10;&#13;&#10;{1}&#13;&#10;&#13;&#10;Yours sincerely,&#13;&#10;Health Checker" addressSeparator="&#13;&#10;" emailFrom="hi@ap3r.us" emailTo="hi@ap3r.us" />
  </healthCheckerConfig>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network
          host="smtp.live.com"
          port="587"
          enableSsl="true"
          defaultCredentials="false"
          userName="USERNAME"
          password="PASSWORD"
        />
      </smtp>
    </mailSettings>
  </system.net>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="configConsoleListener"
             type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>